/* variables */

:root {
  /* Fonts */
  --julius: "Julius Sans One", sans-serif;
  --poppins: "Poppins", sans-serif;

  /* colors */
  --primary-green: #75f94c;
  --secondary-green: #70cd74;
  --opaque-green: #70cd7572;
  --primary-dark: #000000;
  --secondary-dark: #14131387;
  --primary-white: #ffffff;
  --secondary-white: #e5efe7;

  /* Font Size Variables */
  --h1: 2.5rem;
  --h2: 1.75rem;
  --h3: 1.5rem;
  --p: 1rem;
  --small: 0.8rem;
  --span: 0.875rem;

  /* Line Height Variables */
  --line-height-heading: 1.2;
  --line-height-body: 1.4;

  /* borders */
  --border: 1px solid var(--primary-green);
  --border-dashed: 1px dashed var(--primary-green);
}

body {
  background-color: var(--primary-dark);
  padding: 0;
  margin: 0;
  color: var(--primary-white);
}

* {
  box-sizing: border-box;
  font-family: var(--poppins);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* home main wrapper ------*/
.main-wrapper {
  width: 100vw;
  padding: 0;
  margin: 0;
  height: 100vh;
  padding: 50px;
}
@media screen and (max-width: 1600px) {
  .main-wrapper {
    padding: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .main-wrapper {
    padding: 20px;
  }
}
@media screen and (max-width: 800px) {
  .main-wrapper {
    padding: 15px;
  }
}

/* bg animation */
.click-fit-bg-gif {
  inset: 0;
  margin: 0;
  opacity: 0.1;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.home-hero-wrapper,
.navbar {
  background-color: transparent;
  position: relative;
}
/* Nav bar */
.navbar-brand {
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.click-fit-logo {
  height: 50px;
  width: auto;
}
/* toggler icon */
.navbar-toggler,
.navbar-toggler-icon {
  color: var(--primary-white);
  background-color: none;
}
/* nav links */
.nav-link {
  color: var(--primary-white);
  font-family: var(--poppins);
  font-size: var(--p);
}
.nav-link:hover {
  color: var(--secondary-green);
}
.nav-item .active {
  color: var(--secondary-green) !important;
}
.btn-register {
  background-color: none;
  font-size: var(--p);
  font-family: var(--poppins);
  color: var(--primary-green);
  border: var(--border);
}
.btn-register:hover {
  border-color: var(--primary-white);
  color: var(--primary-white);
}

/* Banner home */
/* herp title */
.click-fit-home-left {
  padding-left: 10%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1440px) {
  .click-fit-home-left {
    padding-left: 7%;
  }
}
@media screen and (max-width: 1024px) {
  .click-fit-home-left {
    padding-left: 5%;
  }
}
@media screen and (max-width: 800px) {
  .click-fit-home-left {
    padding-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .click-fit-home-left {
    min-height: fit-content;
    gap: 20px;
  }
}

.click-fit-hero-title h1,
.click-fit-hero-title h1 span {
  color: var(--primary-white);
  font-family: var(--julius);
  font-size: var(--h1);
  font-weight: 900;
}
.click-fit-hero-title h1 span {
  color: var(--primary-green);
}
.click-fit-hero-title h1 {
  width: fit-content;
  animation: typing 2s steps(50), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--secondary-green);
}
.click-fit-hero-title h1:nth-child(1) {
  border-right: 3px solid var(--secondary-white);
}

/* Upload box */

.upload-box {
  border: var(--border-dashed);
  border-radius: 10px;
  padding: 20px;
  max-width: fit-content;
  border-color: var(--primary-white);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .upload-box {
    margin: 0 auto;
  }
  #upload_dargable_area {
    width: 90vw;
  }
}
.dragging {
  border-color: var(--primary-green);
}

.info {
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: var(--primary-white);
  cursor: pointer;
}

.info span {
  font-size: var(--small);
  color: var(--primary-white);
}
/* uploaded images holder */
.imagesHolder {
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.imagesHolder img {
  width: 50px;
  aspect-ratio: 1/1;
  object-fit: contain;
  height: auto;
  border: 5px;
  cursor: pointer;
}

/* news */
.cleck-fit-news-box {
  margin-top: auto;
  padding: 10px;
  border-radius: 10px;
}

.news {
  color: var(--primary-white);
  font-size: var(--h3);
  text-decoration: underline;
  font-family: var(--poppins);
}

.newsText,
.trainees {
  color: var(--primary-white);
  font-family: var(--poppins);
  font-size: var(--span);
}
.cleck-fit-news-box {
  transform: translateX(-100vw);
  transition: all 2s ease-in-out;
}

#dialyTrainees {
  color: var(--primary-white);
}

/* Model popup */

.closeBtn img {
  width: 40px;
  aspect-ratio: 1/1;
  cursor: pointer;
  height: auto;
  border: none;
}
@media screen and (max-width: 1440px) {
  .closeBtn img {
    width: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .closeBtn img {
    width: 20px;
  }
}
@media screen and (max-width: 768px) {
  .closeBtn img {
    width: 18px;
  }
}

.titleAdd {
  font-family: var(--poppins);
  color: var(--primary-white);
}

/* override modal */
.modal-header {
  border-color: var(--secondary-green);
}
.modal-footer {
  border-top: none;
  padding: 0;
  margin-top: 1rem;
}

@media screen and (max-width: 400px) {
  .modal-footer {
    margin-top: 30px;
    flex-direction: column-reverse;
  }
  .modal-footer .btn {
    width: 100%;
  }
  .modal-footer .btn-secondary {
    margin-top: 20px;
  }
}

/* form top add user */
#FormAddUser label {
  color: var(--primary-white);
}
#FormAddUser .form-group {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* display users */
.name {
  font-family: var(--julius);
  font-weight: 900;
  font-size: var(--p);
}
.role {
  font-size: var(--small);
  font-style: italic;
  font-family: var(--poppins);
  color: var(--secondary-dark);
}

.accordion-body span {
  color: var(--primary-dark);
  font-size: var(--span);
}

.accordion-body span strong {
  color: var(--secondary-dark);
  font-size: var(--small);
}

/* global animations  */
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
